body{
	//background-color: #0095d5;
}


html.fl-builder-edit .morph-shape{
display: none;
}

#shiftnav-toggle-main{
    top: 122px !important;
}

@font-face {
font-family: Akkurat;
src: url('../fonts/Akkurat.ttf');
font-weight: normal; 
}
@font-face {
font-family: Akkurat-light;
src: url('../fonts/Akkurat-Light.ttf');
font-weight: normal; 

}
@font-face {
font-family: Akkurat-bold;
src: url('../fonts/Akkurat-Bold.ttf');
font-weight: normal; 
}